{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <h3 class="page-header">
        {{ roleData.role_type }}
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Total Banner [ {{ totalRecords }} ]
                    <a href="{{ urlFor('banner') }}?clear=1" style="float:right;" class=" btn btn- btn-outline  btn-xs">
                        <i class="fa fa-refresh">
                        </i>&nbsp;Refresh
                    </a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <span class="errMsg">{{ errMsg }}</span>
                        <br/>

                        <span class="succMsg">{{ succMsg }}</span>
                        <br/>

                        <div class="row col-xs-4">
                            <form action="{{ urlFor('banner') }}" method="POST">
                                <div class="form-group input-group">
                                    <input type="text" name="q" class="form-control" placeholder="Title"
                                           required/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-warning" type="button">
                                        <i class="fa fa-search">
                                        </i>
                                    </button>
                                </span>
                                </div>
                            </form>
                        </div>
                        <form action="{{ urlFor('banner-delete') }}" method="POST">
                            <div class="left-grid-action">
                                <!--<div class="btn-group">
                                          <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
                                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                                <span class="fa fa-caret-down"></span></a>
                                          <ul class="dropdown-menu">
                                                <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                                                <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"><i class="i"></i> Make admin</a></li>
                                          </ul>
                                        </div>-->
                                <a href="{{ urlFor('banner-add') }}" class="btn btn-xs btn-success btn-outline">
                                    <i class="fa fa-plus">
                                        &nbsp;
                                    </i>Add
                                </a>&nbsp;&nbsp;
                                <button type="submit" class="btn btn-xs btn-danger btn-outline"
                                        onclick=" return confirm('Are You Sure To Delete Permanentaly')">
                                    <i class="fa fa-trash-o">
                                    </i>&nbsp;Trash
                                </button>
                            </div>
                            <div class="clear"></div>
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead >
                                <tr class="label-primary text-white">
                                    <th>
                                        ID <a href="{{ urlFor('banner') }}?t=id&s={{ sort }}"><span class="glyphicon glyphicon-sort" style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Title <a href="{{ urlFor('banner') }}?t=title&s={{ sort }}"><span class="glyphicon glyphicon-sort" style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Created Date <a href="{{ urlFor('banner') }}?t=created_at&s={{ sort }}"><span class="glyphicon glyphicon-sort" style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Sort Order <a href="{{ urlFor('banner') }}?t=sort_order&s={{ sort }}"><span class="glyphicon glyphicon-sort" style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Status <a href="{{ urlFor('banner') }}?t=status&s={{ sort }}"><span class="glyphicon glyphicon-sort" style="color:darkorange"></span></a>
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        View
                                    </th>
                                    <th>
                                            <label>
                                                <input type="checkbox" onchange="checkAll(this, 'toDelete[]')">Check
                                            </label>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results|length >0 %}
                                {% for key,row in results %}
                                    <tr>
                                        <td>
                                            {{ row.id }}
                                        </td>
                                        <td>
                                            {% if row.image %}
                                                <a href="{{ AssetUri }}/{{ row.image }}"
                                                   class="highslide" onclick="return hs.expand(this)">
                                                    <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/{{ row.image }}&w=150&h=50"/>
                                                </a>
                                            {% else %}
                                                <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/Asset/Admin/images/no_image.png&w=150&h=50"/>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ row.title }}
                                        </td>
                                        <td>
                                            {{ relative_date(row.created_at) }}
                                        </td>
                                        <td>
                                            {{ row.sort_order }}
                                        </td>

                                        <td>
                                            {% if row.status == 1 %}
                                                <a href="{{ urlFor('banner-status') }}?id={{ encode(row.id) }}">
                                                    <img src="{{ Asset('/Asset/Admin/images/on.png') }}"/>
                                                </a>
                                            {% else %}
                                                <a href="{{ urlFor('banner-status') }}?id={{ encode(row.id) }}">
                                                    <img src="{{ Asset('/Asset/Admin/images/off.png') }}"/>
                                                </a>
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{{ urlFor('banner-edit') }}/{{ encode(row.id) }}">
                                                <img src="{{ Asset('/Asset/Admin/images/edit-new.png') }}" height="25" width="25"/>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ urlFor('banner-details') }}/{{ encode(row.id) }}">
                                                <img src="{{ Asset('/Asset/Admin/images/search.png') }}" height="25" width="25"/>
                                                </a>
                                        </td>
                                        <td>
                                            <div>
                                                <label>
                                                    <input type="checkbox" value="{{ encode(row.id) }}"
                                                           name="toDelete[]">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tfoot>
                                <td colspan="10">
                                    {{ pagination|raw }}
                                </td>
                                </tfoot>
                                {% else %}
                                    <td colspan="10" class="errMsg"> No Result Found Try Again</td>
                                {% endif %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
{% endblock %}