{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block exttraJs %}
<script>
function windowpop(url, width, height) {
    var leftPosition, topPosition;
    //Allow for borders.
    leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
    //Allow for title and status bars.
    topPosition = (window.screen.height / 2) - ((height / 2) + 50);
    //Open the window.
    window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
}
</script>
{% endblock %}

                                                                                                                                                                                                                                                                                                                                                                                                                            {#goolge client secret: RqnByZnujbmzPnfVhi9XBQqI#}

{% block content %}
    <div class="container">

        <div id="loginbox" style="margin-top:30px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div class="title-context" style="float:right; font-size: 80%; position: relative; top:-25px;"><a href="#">Forgot password?</a></div>
                </div>
                <div style="padding-top:30px" class="panel-body">


                    <div class="alternativeLogin clearfix">
                        <a id="btn-fblogin" onclick="return windowpop('{{ fbLoginUrl }}&login_type=facebook', 1000, 550)" class="btn btn-primary"><i class="fa fa-facebook fa-2x"></i>&nbsp;Login with Facebook</a>
                        &nbsp;
                        <a id="btn-fblogin btn-g+" href="{{ urlFor('gplus-login') }}" class="btn btn-danger"><i class="fa fa-google fa-2x"></i>&nbsp;Login with Google</a>
                    </div>
                    <form id="loginform" class="form-horizontal" role="form" action="{{ urlFor('site-login') }}" method="POST">

                        {% if errMsg %}
                            <div class="alert alert-dismissible alert-warning"><i class="fa fa-warning"></i> &nbsp; {{ errMsg }}</div>
                        {% endif %}

                        {% if v.GetError('Email') %}<p class="errMsg col-md-12">{{ v.GetError('Email') }}</p>{% endif %}
                        <div style="margin-bottom: 25px" class="input-group login-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="Email">
                        </div>

                        {% if v.GetError('Password') %}<p class="errMsg col-md-12">{{ v.GetError('Password') }}</p>{% endif %}
                        <div style="margin-bottom: 25px" class="input-group login-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="passwd" placeholder="Password">
                        </div>
                        <!--div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div -->
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input type="submit" value="Login" id="btn-login" class="btn btn-success">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Dont have an account!
                                    <a href="{{ urlFor('site-signup') }}">Sign Up Here</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
{% endblock %}