{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block title %} {{ row.title }} {% endblock %}
{% block exttraJs %}
    <script>

        $('.js-play').click(function () {
            var vid_num = $(this).data('vid');
            var vid_src = 'https://player.vimeo.com/video/' + vid_num;
            $('#myModal').modal('show');
            $('#myModal iframe').attr('src', vid_src);
        })

    </script>

{% endblock %}
{% block content %}

<div class="container ">

        {{ include('@Site/_INC/user-dash-sidebar.twig') }}

        <div class="col-md-9">

            {% if errMsg %}
                <div class="alert alert-warning" style="color:#FFF!important;">{{ errMsg }}</div>
            {% endif %}

            <div class="profile-content">
               <div class="tab-content">

                   {# form new #}
                   <div class="col-md-6">
                       <form action=" " method="post" accept-charset="utf-8" class="form" role="form">
                           <input type="hidden" value="{{  userData.id }}" name="user_id" />
                           <div class="row">
                               <div class="col-xs-6 col-md-6">
                                   <div class="login-group signup-group">
                                       <input type="text" name="firstname" value="{{ userData.fname }}" class="form-control input-lg"
                                              placeholder="First Name"/>
                                   </div>
                               </div>
                               <div class="col-xs-6 col-md-6">
                                   <div class="login-group signup-group">
                                       <input type="text" name="lastname" value="{{ userData.lname }}" class="form-control input-lg"
                                              placeholder="Last Name"/>
                                   </div>
                               </div>
                           </div>
                           <div class="login-group signup-group disabledForm">
                               <input type="hidden" name="old_email" value="{{ userData.email }}" />
                               <input type="text" name="email" value="{{ userData.email }}" class="form-control input-lg"
                                      placeholder="Your Email"/> {#  disabled="disabled" #}
                           </div>
                           <div class="login-group signup-group disabledForm hidden">
                               <select name="month" class="form-control input-lg" disabled="disabled">
                                   <option value="00">-- Select Country --</option>
                                   <option value="01">Jan</option>
                                   <option value="02">Feb</option>
                                   <option value="03">Mar</option>
                                   <option value="04">Apr</option>
                                   <option value="05">May</option>
                                   <option value="06">Jun</option>
                                   <option value="07">Jul</option>
                                   <option value="08">Aug</option>
                                   <option value="09">Sep</option>
                                   <option value="10">Oct</option>
                                   <option value="11">Nov</option>
                                   <option value="12">Dec</option>
                               </select>
                           </div>
                           <div class="promomail_container append-bottom hidden">
                               <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="promomail" old="" value="" type="checkbox">Please send me Ramro Movie news and updates by e-mail.</label>
                               {#<div style="margin-left: 18px;">(We will not share your information with third parties.)</div>#}
                               <span></span>
                           </div>
                           <button class="btn btn-md btn-warning signup-btn" type="submit">
                               Save Changes
                           </button>
                           <div class="message prepend-top20" style="display:none;"></div>
                       </form>
                   </div>

                   {# form new end #}

                   {# form old #}
                        {#<div style="display: block;" id="profile">#}
                            {#<div class="bold"><span>First Name</span><span style="margin-left:94px;">Last Name</span></div>#}
                            {#<div class"displayname"="">#}
                                {#<input maxlength="30" id="firstName" old="ANil" value="{{ userData.fname }}" style="width:124px;" placeholder="First Name" autofocus="">#}
                                {#<input maxlength="30" id="lastName" old="DhAkal" value="{{ userData.lname }}" style="margin-left:12px;width:124px;" placeholder="Last Name" autofocus="">#}
                                {#<span></span>#}
                            {#</div>#}
                            {#<div class="bold">Email</div>#}
                            {#<div>#}
                                {#<input id="profileEmail" disabled="disabled" value="{{ userData.email }}">#}
                            {#</div>#}
                            {#<div class="bold">Country</div>#}
                            {#<div>#}
                                {#<input id="profileCountry" disabled="disabled" value="">#}
                            {#</div></br>#}
                            {#<div class="promomail_container append-bottom">#}
                                {#<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="promomail" old="" value="" type="checkbox">Please send me Ramro Movie news and updates by e-mail.</label>#}
                                {#<div style="margin-left: 18px;">(We will not share your information with third parties.)</div>#}
                                {#<span></span>#}
                            {#</div>#}
                            {#<div><button disabled="disabled" class="button">Save Changes</button></div>#}
                            {#<div class="message prepend-top20" style="display:none;"></div>#}
            </div>

           
            </div>
        </div>
            </div>
        </div>
    </div>
        </div><!--/container -->

{% endblock %}
 
 
 