{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content%}
    <h3 class="page-header">
        Ramro movie Admin Section
    </h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Welcome
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-film fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ totalMovieCount }}</div>
                                            <div>Movies!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ urlFor('admin-movie') }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">View movie</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ totalBannerCount }}</div>
                                            <div>Banner</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ urlFor('banner') }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Banner</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-th-large fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ totalCategoryCount }}</div>
                                            <div>Category</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ urlFor('category') }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Category</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-play-circle-o fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge">{{ totalPlaylistCount }}</div>
                                            <div>Playlist</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{ urlFor('admin-playlist') }}">
                                    <div class="panel-footer">
                                        <span class="pull-left">View Playlist</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
{% endblock %}