<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html"><i class="fa fa-desktop fa-1x"></i> &nbsp;&nbsp;<span style="font-size:20px;">Ramro Movie</span></a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-gear fa-lg fa-spin"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            <li><a href="{{ urlFor('user-detail') }}"><i class="fa fa-user fa-fw"></i>&nbsp;Account</a>
            </li>
            <li class="divider"></li>
            <li><a href="{{ urlFor('change-password') }}"><i class="fa fa-gear fa-spin"></i>&nbsp;Change Password</a>
            </li>
            <li class="divider"></li>
            <li><a href="{{ urlFor('logout') }}"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->