{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <div class="std-width pd-top40">
        <div class="row contactForm">
            <h3>Drop us your feedback and views!</h3>
            <hr>
            <div class="col-sm-4">
                <address>
                    <strong>Email:</strong> <a href="mailto:#" class="contactEmail"> info@hamromovie.com</a><br><br>
                    <strong>Phone:</strong> <span class="contactEmail">(555)123-4567</span>
                </address>
            </div>

            <div class="col-sm-8">
                <form id="contact" method="post" class="form" role="form">

                    {% if errMsg %}
                        <div class="alert alert-warning">{{ errMsg }}</div>
                    {% endif %}

                    {% if successMsg %}
                        <div class="alert alert-success">{{ successMsg }}</div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
                        </div>
                    </div>
                    <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--tos end-->

    </div>
{% endblock %}