{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}

<!-- Privacy policy-->
<div class="std-width pd-top40">

    <div class="largexl append-bottom last font-prox-reg">Privacy Policy</div>
    <div class="pp">

        <p>This website (<strong>“Site”</strong>) and the hamromovie Services (as defined under the <a href="{{ urlFor('terms-and-condition') }}" class="inv-link">Terms of Use</a>) are managed by hamromovie International Ltd. (<strong>“hamromovie”</strong>). This privacy policy will only be applicable, and the obligations of hamromovie  will only extend to, information expressly collected by hamromovie  from you, through this Site or the hamromovie  Services shall not apply to any information collected or otherwise made available to hamromovie  or any of its affiliates or licensors. This policy does not apply to the practices</p>
        <p>The Site and the hamromovie  Services may contain links to websites, forums or other content operated or maintained by third parties. hamromovie  is not responsible for the privacy practices or policies of such third party web sites and this privacy policy does not apply to those websites or to any information collected otherwise by any third party.</p>
        <p>You may further make information publicly available while interacting with various user modifiable sections of this Site including comments, reviews, profile information or feedbacks. hamromovie  is not responsible for any such information and any use of such information by any party.</p>

        <h3><span>1.</span>COMMITMENT TO PRIVACY</h3>
        <span>1.1. </span><p>hamromovie  takes your privacy seriously. To help you better protect your privacy, and help you evaluate the protection your information enjoys on our website, we provide this statement explaining our online information policies and practices to assist you in the choices you can make about the way your information is collected and used. Please do read this policy, the Legal Disclaimer and the <a href="{{ urlFor('terms-and-condition') }}" class="inv-link">Terms of Use</a> carefully before contributing any information to this website.</p>

        <h3><span>2.</span>COLLECTION AND USE OF INFORMATION</h3>
        <h4><span></span>Non-personal Information</h4>
        <span>2.1. </span><p>You may access and use various features and content of our Site and the hamromovie  Services without providing any Registration Information (described below) of a personal nature.</p>
        <span>2.2. </span><p>hamromovie  automatically receives and records information from your computer and browser, including your IP address, software and hardware attributes, the page(s) you request and receives information via cookies, web beacons or other technologies.</p>
        <span>2.3. </span><p>We may further automatically record such information to track visits to our websites so that we may compile statistics that show the numbers and frequency of visitors to our website and its individual pages; such statistics may include your web request, internet protocol address, browser type, browser language, and the date and time of your request. We may enhance or merge your information collected from our website with data from third parties for purposes of marketing products or services to you.</p>
        <span>2.4. </span><p>We may further, present links in a format that enables us to keep track of whether these links have been followed. </p>
        <h4><span></span>Registration Information</h4>
        <span>2.5. </span><p>We may require you to provide certain personal information as registration information (<strong>“Registration Information”</strong>) for the use of several features of the hamromovie  Services and for access to several of our Content (as defined under the <a href="{{ urlFor('terms-and-condition') }}" class="inv-link">Terms of Use</a>, when you visit certain hamromovie  pages or the pages of certain hamromovie  partners and when you enter promotions offered by hamromovie  or certain of its partners. All such Registration Information is collected voluntarily and no other information is collected other than those specifically provided by you. This is to enable us to verify whether you are entitled to access and use certain Content, information, materials and services available through our website and the hamromovie  Services, or to enable us to enhance your site visit, to assist you with customer service or technical support issues, or to otherwise support your customer relationship with us. It is completely optional for you to participate, submit any Registration Information, or avail of these features.</p>
        <span>2.6. </span><p>Where we collect such Registration Information, we do so with the objective of providing our services to you and for improving our website and the services we offer. This information may assist us in providing you with more effective customer service, making this Site or services easier to use by eliminating the need for you to repeatedly enter the same information, performing research and analysis aimed at improving our products, services and technologies, and displaying content and advertising that are customized to your interests and preferences. hamromovie  also uses the Registration Information to customize the advertising and Content you see, fulfil your requests for products and services, improve our services, contact you, conduct research, and provide anonymous reporting for internal and external clients.</p>
        <span>2.7. </span><p>hamromovie  may combine information about you that we have with the information we obtain from data aggregators, public databases, business partners or other companies, which may include your interests, purchasing behaviour and your activities online, such as websites visited and advertisements viewed.</p>
        <span>2.8. </span><p>We reserve the right to conduct research and perform statistical analyses on Registration Information in order to measure interest in and use of the various areas of the site and to inform advertisers of such information. We will release only aggregate data and all personal identifiable information obtained from these analyses will be kept confidential from concerned third parties and at no time shall information that is personally identifiable be disclosed.</p>
        <span>2.9. </span><p>We also use your Registration Information to communicate with you. We may send certain service communications such as welcome letters, billing reminders, information on technical service issues, and security announcements. If you do not wish to receive such communications, please email us at <a href="mailto:support@hamromovie.com" class="inv-link">support@hamromovie.com</a> to stop such communications. Please allow at least 72 hours for the actual cancellation to take effect. We shall not divulge your email address to third parties without your prior consent.</p>
        <span>2.10. </span><p>If while using the hamromovie  Services, you post information online that is accessible to the public including in any comment sections of our Site, hamromovie  shall not be responsible for any such information and any use of such information by any party including any unsolicited communications from any third party.</p>
        <span>2.11. </span><p>For members in certain countries, you can connect your hamromovie  account to Facebook. If you choose to connect, you'll be able to take advantage of various social features we will be creating as part of the hamromovie  service, as well as features available on Facebook. In addition, hamromovie  may personalize and otherwise seek to enhance your experience based on your information from your Facebook account. By connecting your hamromovie  account to your Facebook account, you ackledge and agree that you are consenting to the continuous release of information about you to others, including to Facebook (in accordance with your privacy settings on Facebook and your account settings on hamromovie ). If you do not want information about you, including information such as your viewing activity, to be shared in this manner, do not use the Facebook connect feature. hamromovie  disclaims all warranties in relation to and all liabilities arising from any use of your personal information by Facebook or any other third party.</p>
        <h4><span></span>Transaction Information</h4>
        <span>2.12. </span><p>If you become a registered user or if you conduct transactions through the Site, we also collect and maintain transactional information including without limitation, credit card information, payment amounts, billing information, transaction type (“Transaction Information”). We may use Transaction Information for the purpose of establishing and verifying the identity of users, processing, servicing or enforcing transactions and sending related communications, and for providing support services in relation to the transactions. We shall not use Transaction Information for any purposes other than as provided under this Privacy Policy without your express consent.</p>

        <h3><span>3.</span>INTERACTIVE AREAS</h3>
        <span>3.1. </span><p>Users may be permitted access to certain interactive areas of the website such as user comments. You should be aware that we do not monitor or have control over any information voluntarily disclosed within these interactive areas and shall not be responsible for any malicious or inappropriate use of such information by any third party. We do not guarantee the privacy of any information voluntarily disclosed by you in these interactive areas and you are required to evaluate for yourself, the implications and potential risks of disclosing any personally identifiable information in these interactive areas.</p>

        <h3><span>4.</span>INFORMATION SHARING</h3>
        <span>4.1. </span><p>Unless we notify you otherwise, we will share your information with companies or entities only in circumstances where:</p>
        <p>
        </p><ol>
            <li>You have provided instructions or consent towards such sharing;</li>
            <li>Such information is being shared for the purpose of processing personal information on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures; or</li>
            <li>We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental or regulatory request, (b) enforce applicable terms of use of the website, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against imminent harm to the rights, property or safety of hamromovie , its users or the public as required or permitted by law.</li>
        </ol>
        <p></p>
        <span>4.2. </span><p>If hamromovie  becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will ensure the confidentiality of any personal information involved in such transactions and provide notice before personal information is transferred and becomes subject to a different privacy policy.</p>
        <span>4.3. </span><p>By using hamromovie  and submitting personal information to hamromovie , you agree to permit the transfer of your personal information to countries outside your country of residence for storage, processing and other uses as permitted under this Privacy Policy and applicable law.</p>

        <h3><span>5.</span>MODIFICATION AND DELETION OF INFORMATION</h3>
        <span>5.1. </span><p>You can edit your hamromovie  account information, including your preferences. We reserve the right to send you certain communications relating to the hamromovie  Services, such as service announcements, administrative messages and other information, that are considered part of your hamromovie  account.</p>
        <span>5.2. </span><p>You can delete your hamromovie  account by sending an email to: <a href="mailto:support@hamromovie.com" class="inv-link">support@hamromovie.com</a>. hamromovie  reserves the right to decline requests that require disproportionate technical effort, are impractical, jeopardize the privacy of others, impede payment for the service, interfere with the enhancement of the service, or which is otherwise not required by applicable law.</p>
        <span>5.3. </span><p>In addition to your hamromovie  account information, in accordance with the provisions of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, you have the right to review the personal information that has been collected from you and correct any inaccurate or insufficient information. Should you wish to review such information or provide any corrections to the same, please email us at <a href="mailto:support@hamromovie.com" class="inv-link">support@hamromovie.com</a>. You also have the option to withdraw your consent given to hamromovie  to use such personal information, should you wish to exercise this option, please email us at <a href="mailto:support@hamromovie.com" class="inv-link">support@hamromovie.com</a>. Do note however that, upon withdrawal of your consent, your account will be permanently deleted and you shall no longer have access to any of the hamromovie  products or services.</p>

        <h3><span>6.</span>SECURITY OF INFORMATION</h3>
        <span>6.1. </span><p>We believe that we have instituted appropriate physical, electronic, and managerial procedures to safeguard and secure the Registration Information and Transaction Information we collect. These procedures include online including internal reviews of our data collection, storage and processing practices and other reasonable security measures which are equivalent to security measures that we use to protect our own sensitive and confidential information. All Transaction Information are stored on the secure servers of a PCI Data Security Standard (PCI DSS) Level 1 compliant service provider.</p>
        <span>6.2. </span><p>We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to provide products or services to you or in order to do their jobs.</p>

        <h3><span>7.</span>COOKIES</h3>
        <span>7.1. </span><p>For the purposes of use as described above, we may use “cookies”. Cookies are small text files that are placed on your hard disk by a website server. We use cookies to improve the quality of our service and one of the primary purposes of cookies is to store your preferences and other information on your computer in order to save you time by eliminating the need to repeatedly enter the same information.</p>
        <span>7.2. </span><p>Generally, cookies cannot be used to run programs or deliver viruses to your computer and do not pose a threat to a user’s computer. However, we cannot control and nor shall we be responsible for any malicious use of these cookies by any third parties. You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, some of the features offered by our website may not be available in part or entirety.  If you choose to accept cookies, you also have the ability to later delete cookies that you have accepted. If you choose to delete cookies, any settings and preferences controlled by those cookies, including advertising preferences, will be deleted and may need to be recreated.</p>

        <h3><span>8.</span>CHANGES TO STATEMENT</h3>
        <span>8.1. </span><p>Please note that this Privacy Policy may change from time to time. We will post any Privacy Policy changes on this page. You should routinely check our website for changes to our privacy policy.  If we post an updated privacy policy on the hamromovie  website, by subsequently using the hamromovie  service you agree to the terms of the updated privacy policy.  If you don’t agree with the new Privacy Policy, please discontinue your access to our Site and the hamromovie  Services.</p>

        <h3><span>9.</span>ENFORCEMENT AND CONTACT </h3>
        <span>9.1. </span><p>We regularly review our compliance with this Privacy Policy. If you have questions about this statement or believe that we have not adhered to it, please contact us at: <a href="mailto:legal@hamromovie.com" class="inv-link">legal@hamromovie.com</a>. When we receive formal written complaints, it is hamromovie ’s policy to contact the complaining user regarding his or her concerns. We will cooperate with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that cannot be resolved between hamromovie  and an individual.</p>
        <span>9.2. </span><p>Information governed by this Privacy Policy is collected and stored by:</p>
        <div class="margin-left">
            <div class="bold">Bidhee Private Limited</div>
            <div>Jagannath Bhawan</div>
            <div>New Baneshwor</div>
            <div>Kathmandu</div>
        </div>
        <p></p>
        <span>9.3. </span><p>Where any other agencies are engaged by hamromovie  to collect, store or process any information governed by this Privacy Policy, the names and addresses of such agencies shall be notified.</p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>
</div>
<!--privacypolicy end-->
{% endblock %}