.clear{
clear:both;
}
.text-white{
	color:white;
}
.errMsg {
  padding: 2px 4px;
  font-family:cosmic sans-serif;
  font-size:15px;
  color:brown;
  white-space: nowrap;
  background-color:none;
  text-align:center;
}
.succMsg {
  padding: 2px 4px;
  text-align:center;
  font-size: 15px;
  color: Green;
  white-space: nowrap;
  background-color:none;
}
.link{
	color:red;
}
.link:hover{
	color:green;
	text-decoration:none;
}
.form-action label{
	font:15px Arial Narrow;
	letter-spacing:1px;
	color:grey;
}
.form-action select option{
	font-size:17px !important;
	color:blue;
}
.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.left-grid-action{
float:right;
}


/*
*PAGINATION STARTS
*/

ul.pagination {

    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 13px;
    height:40px;
    list-style-type: none;
    margin:2px;
    overflow: hidden;
    padding: 6px; 
}
ul.pagination li.details {

    border-color: #C8D5E0;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #1E598E;
    font-weight: bold;
    padding: 5px 8px;
    text-decoration: none; 

}
ul.pagination li.dot {

    padding: 3px 0; 
    list-style:none;

}
ul.pagination li {

    float: left;
    list-style-type: none;
    margin: 0 2px 0 0;
}
ul.pagination li:first-child {

    margin-left: 0;

}
ul.pagination li a {

    color: black;
    display: block;
    padding: 5px 8px;
    text-decoration: none;

}
ul.pagination li a img {

    border: medium none;

}
ul.pagination li a.current {

    background-color: white;
    border-radius: 0 0 0 0;
    color: #333333; 

}
ul.pagination li a.current:hover {

    background-color: white; 

}
/*
ul.pagination li a:hover {

    background-color: #C8D5E0;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
	color:white;

}*/
ul.pagination li a {

    border-color: #C8D5E0;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #1E598E;
    display: block;
    font-weight: bold;
    padding: 5px 8px;
    text-decoration: none;
    background-color:#428BCA;
    color:white;	
}
/*
*PAGINATION ENDS
*/
.nav>li>a{
   color:#75797f;
}

.product-box {

    display:inline-block;
    position:relative;
}
.image-text {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.93);
    color: #fff;
    bottom: 0px;
    text-align: left;
    padding: 20px 15px 20px 15px;
    width:100%;
}
.image-title {
    position: absolute;
    bottom: 80px;
    text-align: left;
    z-index: 15;
    padding-top: 5px;
    padding-bottom: 2px;
    color: #fff;
    padding-left: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(194, 0, 0, 0.93);
    width: 100%;
}
.click-action {
    position: absolute;
    z-index: 16;
    color: #fff;
    font-size: 16px;
    bottom: 7px;
    right: 33px;
}

.image-title {
    width:100%;

}
.image-box {

    display:inline-block;
    position:relative;
}
.image-caption {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.93);
    color: #fff;
    bottom: 0px;
    text-align: left;
    padding: 10px;
    width:100%;
}

.alertBox .highslide-header .highslide-close {
    display: none;
}
.alertBox .highslide-header .highslide-move {
    display: none;
}

.popup-gallery{
    padding:0px;
    margin:0px;
}