{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}

    <!-- Privacy policy-->
    <div class="std-width pd-top40">
        <div class="pp" style="text-align: center">
            <p>&nbsp;</p>  <p>&nbsp;</p>
            <p><strong style="font-size: 40px; font-weight:bold">Thank you for visiting us.</strong><br>
               <small style="font-size: 25px;">We are currently on <strong style="color: #E85438">BETA</strong> version and we are updating more movies on our website. You will be able to watch this movie soon. <br>Please keep visiting us.</small> </p>
            <p>&nbsp;</p>  <p>&nbsp;</p>  <p>&nbsp;</p>
        </div>
    </div>
    <!--privacypolicy end-->
{% endblock %}