{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <!-- onload popup-->
    <div id="boxes">
        <div id="dialog" class="window">
            <!--<div class="overlayTxt">-->
            <!--<p>We are on <span>BETA</span> Version.</p>-->
            <!--This feature will be enabled soon. Please stay connected with us. We are updating the system 200+ Nepali-->
            <!--Movies.-->
            <!--</div>-->
            <span class="glyphicon glyphicon-remove-circle crossBtn"></span>
            <img src="{{ Asset('/Asset/Site/img/ramro_banner1.jpg') }}" alt="banner" class="img-responsive"/>
        </div>
        <div id="mask"></div>
    </div>

    <div class="row content ">

        {{ include('@Site/_INC/user-dash-sidebar.twig') }}

        <div class="col-md-9">
            <div class="profile-content">
                <div class="subscribe clearfix">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class='package'>
                            <div class='name'>Dev Plan</div>
                            <div class='trial'>$2/ per month</div>
                            <hr>
                            <ul>
                                <li>
                                    <strong>Personal</strong>
                                    use
                                </li>
                                <li>
                                    <strong>Unlimited</strong>
                                    Projects
                                </li>
                                <li>
                                    <strong>Unlimited</strong>
                                    public playlists
                                </li>
                            </ul>
                            <a href="{{ urlFor('subscription-message') }}" class="btn-warning plan-btn">Get this plan</a>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                        <div class='package brilliant'>
                            <div class='name'>Biz Plan</div>
                            <div class='trial'>$5/ per month</div>
                            <hr>
                            <ul>
                                <li>
                                    <strong>Unlimited</strong>
                                    team members
                                </li>
                                <li>
                                    <strong>Unlimited</strong>
                                    team playlists
                                </li>
                                <li>
                                    <strong>Unlimited</strong>
                                    public playlists
                                </li>

                            </ul>
                            <a href="{{ urlFor('subscription-message') }}" class="btn-warning plan-btn">Get this plan</a>
                        </div>


                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                        <div class='package'>
                            <div class='name'>Pro Plan</div>
                            <div class='trial'>$10/ per plan</div>
                            <hr>
                            <ul>
                                <li>
                                    <strong>5</strong>
                                    team members
                                </li>
                                <li>
                                    <strong>3</strong>
                                    team playlists
                                </li>
                                <li>
                                    <strong>Unlimited</strong>
                                    public playlists
                                </li>
                            </ul>
                            <a href="{{ urlFor('subscription-message') }}" class="btn-warning plan-btn">Get this plan</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        {#<div class="col-xs-12">#}
            {#<div class="row">#}
                {#<div class="subscribe ">#}

                {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}

                    {#<!-- PRICE ITEM -->#}
                    {#<div class="panel price panel-blue">#}
                        {#<div class="panel-heading arrow_box text-center">#}
                            {#<h3>DEV PLAN</h3>#}
                        {#</div>#}
                        {#<div class="panel-body text-center">#}
                            {#<p class="lead" style="font-size:40px"><strong>$2/ month</strong></p>#}
                        {#</div>#}
                        {#<ul class="list-group list-group-flush text-center">#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-info"></i> Personal use</li>#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-info"></i> Unlimited projects</li>#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-info"></i> 27/7 support</li>#}
                        {#</ul>#}
                        {#<div class="panel-footer">#}
                            {#<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<!-- /PRICE ITEM -->#}


                {#</div>#}

                 {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}

                    {#<!-- PRICE ITEM -->#}
                    {#<div class="panel price panel-green">#}
                        {#<div class="panel-heading arrow_box text-center">#}
                            {#<h3>BIZ PLAN</h3>#}
                        {#</div>#}
                        {#<div class="panel-body text-center">#}
                            {#<p class="lead" style="font-size:40px"><strong>$5/ month</strong></p>#}
                        {#</div>#}
                        {#<ul class="list-group list-group-flush text-center">#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-success"></i> Personal use</li>#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-success"></i> Unlimited projects</li>#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-success"></i> 27/7 support</li>#}
                        {#</ul>#}
                        {#<div class="panel-footer">#}
                            {#<a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<!-- /PRICE ITEM -->#}


                {#</div>#}

                {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">#}

                    {#<!-- PRICE ITEM -->#}
                    {#<div class="panel price panel-grey">#}
                        {#<div class="panel-heading arrow_box text-center">#}
                            {#<h3>PRO PLAN</h3>#}
                        {#</div>#}
                        {#<div class="panel-body text-center">#}
                            {#<p class="lead" style="font-size:40px"><strong>$10 / month</strong></p>#}
                        {#</div>#}
                        {#<ul class="list-group list-group-flush text-center">#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-grey"></i> Personal use</li>#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-grey"></i> Unlimited projects</li>#}
                            {#<li class="list-group-item"><i class="glyphicon glyphicon-ok text-grey"></i> 27/7 support</li>#}
                        {#</ul>#}
                        {#<div class="panel-footer">#}
                            {#<a class="btn btn-lg btn-block btn-primary" href="#">BUY NOW!</a>#}
                        {#</div>#}
                    {#</div>#}
                    {#<!-- /PRICE ITEM -->#}
                {#</div>#}
                {#</div>#}
            {#</div><!--/row-->#}
            {#<!--/container -->#}
        {#</div>#}
    </div>
{% endblock %}