{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content%}
    <h1 class="page-header">
        Category
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Category
                    <a href="{{ urlFor('category')}}"  style="float:right;" class=" btn btn-primary btn-xs">
                        <i class="fa fa-arrow-circle-left">
                        </i>&nbsp;Back
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form role="form" class="form-action" action="{{ urlFor('category-add')}}" method="POST">

                                <p class="errMsg">{{ errMsg }}</p>
                                <p class="succMsg">{{succMsg}}</p>

                                <p class="errMsg">{{ v.getError('Title') }}</p>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="title">
                                        Category Title <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-xs-9">
                                        <input type="text" name="title" value="{{ v.rePopulate('title',reset)}}" class="form-control" id="group" placeholder="Category Title">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <input  type="submit" class="btn btn-success" value="Save">
                                        <input type="reset" class="btn btn-danger" value="Cancel">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}