{% extends "@Site/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content %}
    <div class="container">
    <div id="signupbox" style=" margin-top:30px"
         class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div class="title-context" style="float:right; font-size: 85%; position: relative; top:-25px"><a
                            id="signinlink" href="{{ urlFor('site-login') }}">Sign In</a></div>
            </div>
            <div class="panel-body">

                <form id="signupform" class="form-horizontal" role="form" action="{{ urlFor('site-signup') }}"
                      method="POST">
                    <p class="succMsg">{{succMsg}}</p>
                    <p class="errMsg">{{errMsg}}</p>
                    <p class="errMsg">{{ v.GetError('Email') }}</p>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <p class="errMsg">{{ v.GetError('First Name') }}</p>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <p class="errMsg">{{ v.GetError('Last Name') }}</p>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Last Name</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <p class="errMsg">{{ v.GetError('Password') }}</p>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>

                        <div class="col-md-9">
                            <input type="password" class="form-control" name="passwd" placeholder="Password" readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <input id="btn-signup" type="submit" value="Signup" class="btn btn-warning">
                            <span style="margin-left:8px;">or</span>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <a id="btn-fblogin" onclick="return windowpop('{{ fbLoginUrl }}&login_type=facebook', 1000, 550)" class="btn btn-primary"><i
                                        class="fa fa-facebook fa-2x"></i>&nbsp;Login with Facebook</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}