/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
    margin-top: -60px;
    height: 500px;
    min-height: 100px;
    max-height: 500px;
    /* margin: 4% auto; */
    padding: 14px 0 0 0;
    max-width: 1600px;
    min-width: 300px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
	height: 100%;
	width: 100%;   
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

footer {
    /* margin: 50px 0; */
}