{% extends "@Admin/_layout.twig" %}{#MASTER_TEMPLETE#}
{% block content%}
    <h1 class="page-header">
       Movie
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Details News

                    <a href="{{ urlFor('admin-movie')}}" style="float:right;" class=" btn btn-primary btn-xs">
                        <i class="fa fa-arrow-circle-o-left">
                        </i>&nbsp;Back
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-11">
                            <form role="form" class="form-action">
                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Movie Name( Title ) <span class="text-danger">*</span>
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" name="title" value="{{ row.title }}"
                                               class="form-control" id="group" placeholder="Movie Name | Title" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <label class="col-xs-3" for="image">
                                        Category
                                    </label>

                                    <div class="col-xs-3">
                                        <select class="selectpicker" name="category" disabled>
                                            <option value="">Select One</option>
                                            {% for cat in categories %}
                                                <option value="{{ cat.id }}"{% if row.cat_id == cat.id %}selected{% endif %}>{{ cat.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <input type="hidden" name='old_image' value="{{ row.image }}">
                                    <label class="col-xs-3" for="image">
                                        Movie Image
                                    </label>
                                    <div class="col-xs-2">
                                        {% if row.image %}
                                            <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/{{ row.image }}&w=72&h=100"/>
                                        {% else %}
                                            <img src="{{ AssetUri }}/Asset/thumb/thumb.php?src={{ AssetUri }}/Asset/Admin/images/no_image.png&w=72&h=100"/>
                                        {% endif %}

                                    </div>
                                </div>
                                <br/>


                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Trailer Id
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" name="trailer_id"
                                               value="{{ row.trailer_link }}"
                                               class="form-control" id="group" placeholder="Trailer Id" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Full movie Id
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" name="full_id" value="{{ row.full_link }}"
                                               class="form-control" id="group" placeholder="Full movie Id" disabled>
                                    </div>
                                </div>
                                <br/>


                                <div class="row">
                                    <label class="col-xs-3" for="image">
                                        Movie Type
                                    </label>

                                    <div class="col-xs-3">
                                        {% set fields = [ {'key': 'Subscription', 'value':  'subscription'}, { 'key': 'Free', 'value': 'free'}, { 'key':'Premium', 'value': 'premium'} ] %}
                                        <select class="selectpicker" name="movie_type" disabled>
                                            <option value="">Select One</option>
                                            {% for res in fields %}
                                                <option value="{{ res.value }}" {% if row.movie_type == res.value %}selected{% endif %}>{{ res.key }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Price ($)
                                    </label>

                                    <div class="col-xs-3">
                                        <input type="text" name="price" value="{{ row.price}}"
                                               class="form-control" id="group" placeholder="Price" disabled>
                                    </div>
                                </div>
                                <br/>


                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Cast
                                    </label>

                                    <div class="col-xs-3">
                                        <input type="text" name="cast" value="{{ row.cast }}"
                                               class="form-control" id="group" placeholder="Cast" disabled>
                                    </div>
                                </div>
                                <br/>


                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Director
                                    </label>

                                    <div class="col-xs-3">
                                        <input type="text" name="director" value="{{ row.director }}"
                                               class="form-control" id="group" placeholder="Director" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Subtitles
                                    </label>

                                    <div class="col-xs-3">
                                        <input type="text" name="subtitle" value="{{ row.subtitle }}"
                                               class="form-control" id="group" placeholder="Subtitles" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Language
                                    </label>

                                    <div class="col-xs-3">
                                        <input type="text" name="language" value="{{ row.language }}"
                                               class="form-control" id="group" placeholder="Language" disabled>
                                    </div>
                                </div>
                                <br/>


                                <div class="row devRegion">
                                    <label class="col-xs-3" for="inputPassword1">
                                        Music
                                    </label>

                                    <div class="col-xs-3">
                                        <input type="text" name="music" value="{{ row.music }}"
                                               class="form-control" id="group" placeholder="Music" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row devRegion">
                                    <label class="col-xs-3" for="title">
                                        Movie Tags <span class="text-danger">*</span>
                                    </label>

                                    <div class="col-xs-9">
                                        <input type="text" name="movie_tags"
                                               value="{{ row.movie_tag }}" class="form-control"
                                               data-role="tagsinput" id="group" placeholder="Movie Tags" disabled>
                                    </div>
                                </div>
                                <br/>

                                <div class="row">
                                    <label class="col-xs-3" for="details">
                                        Details<span class="text-danger">*</span>
                                    </label>

                                    <div class="col-xs-9 pull-right">
                                        <textarea name="details" class="form-control" id="tinyEditor"
                                                  rows="12" disabled>{{ row.details }}</textarea>
                                    </div>
                                </div>
                                <br/>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}